h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#Link {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mvInput {
  margin-right: 10px;
}

div > h1 {
  text-align: center;
}

div > input {
  display: block;
  margin: 0 auto;
  background-color: white;
}

#reviewBtn {
  background-color: black;
  color: white;
  font-weight: bold;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  width: 100px;
  margin-bottom: 100px;
}

#InputReview {
  width: 500px;
  height: 100px;
}

.movieCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 30px;
}

.movie-image img {
  width: 100%;
  height: auto;
}

.movie-info p {
  margin: 5px 0;
  font-weight: bold;
  text-align: center;
}

.movie-info h4 {
  margin: 5px 0;
  font-weight: bold;
  text-align: center;
}

.movie-overview p {
  margin: 10px 0;
}

#return {
  border: 0;
  border-radius: 10px;
  text-decoration-line: none;
}

#mvInput {
  border: 0;
}

.searchbox {
  border: 2px solid black;
  margin: auto;
  padding: 15px;
  box-sizing: content-box;
  width: 250px;
}

.review {
  border: 2px solid black;
  margin: auto;
  padding: 15px;
  box-sizing: content-box;
  width: 600px;
  height: 280px;
  margin-bottom: 20px;
}

#mvsearch {
  background-color: lightgreen;
  border-radius: 10px;
}

#InputName {
  float: left;
  margin-left: 60px;
}

#InputPWd {
  float: right;
  margin-right: 60px;
}

#InputReview {
  border-radius: 15px;
}

#reviewBtn {
  border-radius: 15px;
}
